@using CLEANSHOP.Models
@{
    Customer kh = (Customer)Session["TaiKhoan"];
}
<a class="getstarted scrollto active" href="@Url.Action("profile","NguoiDung",new { @id = kh.IdCustomer})" style="text-decoration:none;color:#000">
    Tên     : @kh.Name
</a>
