
@{
    ViewBag.Title = "XacnhanAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xin thông báo ! </h1>
<h2>Mục này chỉ dành cho admin, mong quý khách thông cảm cho sự bất tiện này !!!</h2>

<p>
    @Html.ActionLink("Về trang chủ", "Index", "DichVu")
</p>

